<!doctype html>
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (gte IE9)| IEMobile |!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="csrf-param" content="" />

    <title>We Have We Need</title>

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="user-scalable=no, width=device-width,
    initial-scale=1, maximum-scale=1" />

    <meta http-equiv="cleartype" content="on" />
    <meta name="application-name" content="WeSupply" />

    {% load staticfiles %}

    {% block requirejs %}
        <script>
            var require = {
                baseUrl: '{{ STATIC_URL }}/js'
            };
        </script>

        <script src='{% static "js/components/requirejs/require.js" %}'></script>
    {% endblock %}
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.0.1/flatly/bootstrap.min.css" />
    <link rel="stylesheet" href="{% static 'css/screen.css' %}" />
</head> 
<body style="padding-top: 50px;">
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">We Have We Need</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

  <div class="container" id="app">
    <div class="starter-template" style="padding: 40px 15px; text-align: center">
      <h1>We Have We Need</h1>
      <p class="lead">We help humanitarians manage, share, and talk about supplies in disaster relief situatons.</p>
    </div>

  </div><!-- /.container -->

  <script>
      require(['config'], function () {
          require(['jquery', 'main'], function ($, ItemMan) {
              $(document).ready(function(){
                  ItemMan.init();
                  window.ItemMan = ItemMan;
              });
          });
      });
  </script>
  {% if DEBUG %}
    <!-- Livereload script -->
    <script src="//localhost:35729/livereload.js"></script>
  {% endif %}
</body>
<html>
