<form role="form" class="form" autocomplete="off">
  <div class="fullname-wrap">
    <input type="text" name="fullname" class="form-control" placeholder="Full Name">
  </div>
  <div class="email-wrap">
    <input type="email" name="email" class="form-control" placeholder="Email Address">
  </div>
  <div class="username-wrap">
    <input type="text" name="username" class="form-control" placeholder="Username">
  </div>
  <div class="password-wrap">
    <input type="password" name="raw_password" class="form-control" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Sign Up</button>
</form>
